@media print {
    
    body{
          margin: 0;
          padding: 0;
          box-shadow: none;
          
    }
    #no-print{
        display: none;
    }
    #print-section, #print-section * {
        
    }
    
    /* Yazdırılacak kısımda daha fazla stil düzenlemesi yapabilirsiniz */
  }
  
  @page{
    size: auto;
    margin: 0mm;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Firefox için */
  html {
    scrollbar-width: none;
  }
  
  /* Edge için */
  body {
    -ms-overflow-style: none;
  }